<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeMonitorServlet</display-name>
    <servlet-name>HomeMonitorServlet</servlet-name>
    <servlet-class>com.clopez.homemonitor.HomeMonitorServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeMonitorServlet</servlet-name>
    <url-pattern>/HomeMonitorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastUpdate</display-name>
    <servlet-name>LastUpdate</servlet-name>
    <servlet-class>com.clopez.homemonitor.LastUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastUpdate</servlet-name>
    <url-pattern>/LastUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetURL</display-name>
    <servlet-name>GetURL</servlet-name>
    <servlet-class>com.clopez.homemonitor.GetURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetURL</servlet-name>
    <url-pattern>/GetURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadBlob</display-name>
    <servlet-name>UploadBlob</servlet-name>
    <servlet-class>com.clopez.homemonitor.UploadBlob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadBlob</servlet-name>
    <url-pattern>/UploadBlob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPicture</display-name>
    <servlet-name>DownloadPicture</servlet-name>
    <servlet-class>com.clopez.homemonitor.DownloadPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPicture</servlet-name>
    <url-pattern>/DownloadPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartData</display-name>
    <servlet-name>ChartData</servlet-name>
    <servlet-class>com.clopez.homemonitor.ChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartData</servlet-name>
    <url-pattern>/ChartData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUpload</display-name>
    <servlet-name>NewUpload</servlet-name>
    <servlet-class>com.clopez.homemonitor.NewUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUpload</servlet-name>
    <url-pattern>/NewUpload</url-pattern>
  </servlet-mapping>
</web-app>