<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>HomeMonitorServlet</display-name>
		<servlet-name>HomeMonitorServlet</servlet-name>
		<servlet-class>com.clopez.homemonitor.HomeMonitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeMonitorServlet</servlet-name>
		<url-pattern>/HomeMonitorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LastUpdate</display-name>
		<servlet-name>LastUpdate</servlet-name>
		<servlet-class>com.clopez.homemonitor.LastUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LastUpdate</servlet-name>
		<url-pattern>/LastUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ChartData</display-name>
		<servlet-name>ChartData</servlet-name>
		<servlet-class>com.clopez.homemonitor.ChartData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartData</servlet-name>
		<url-pattern>/ChartData</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>GetHistoric</display-name>
		<servlet-name>GetHistoric</servlet-name>
		<servlet-class>com.clopez.homemonitor.GetHistoric</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetHistoric</servlet-name>
		<url-pattern>/GetHistoric</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Alerts</display-name>
		<servlet-name>Alerts</servlet-name>
		<servlet-class>com.clopez.homemonitor.Alerts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Alerts</servlet-name>
		<url-pattern>/Alerts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadPict</display-name>
		<servlet-name>UploadPict</servlet-name>
		<servlet-class>com.clopez.homemonitor.UploadPict</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPict</servlet-name>
		<url-pattern>/UploadPict</url-pattern>
	</servlet-mapping>
</web-app>